<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Source code</title>
    <meta name="description" content="Plexi's source code">
    <link id="favicon" rel="icon" href="https://cdn.discordapp.com/icons/343572980351107077/5afb9e4d2eb0f09ada16bd129ebf422f.webp?" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  
  <script>
  jQuery(document).ready(function($) {
    $('*[data-href]').on('click', function() {
      window.location = $(this).data("href");
    });
  });
  </script>

  <body>
    <main style="max-width: 100%; width: 100%;">
          <!-- Navigation bar -->
      <div class="navigationBar">
        <a class="navigationItem" href="/login"><span>Login</span></a>
        <a class="navigationItem" href="/"><span>Source</span></a>
        <a class="navigationItem" href="/submit"><span>Submit</span></a>
        <a class="navigationItem" href="https://discord.gg/plexiDev" style="float: right; padding: 5px;"><img class='plexiLogo' src="https://cdn.discordapp.com/icons/343572980351107077/5afb9e4d2eb0f09ada16bd129ebf422f.webp?"></a>
      </div>
      
      <div style="margin-top: 10%; transform: translateX(75%); width: 40%; background-color: rgba(229, 229, 229, 0.2); border-radius: 5px;">
        <h1 style="font-size: 90px; text-align: center; color: #e5e5e5;">
          404
        </h1>
        <h6 style="font-size: 14px; text-align: center; color: #f7f7f7; background-color: rgba(100, 100, 100, 0.6);">
          Oopsy Whoopsy, it seems we made a fricky whicky. A boo boom, baa baa. We aw sooowww swworry fowr any inconwinencyysz
        </h6>
      </div>
    </main>
  </body>
</html>