<!DOCTYPE html>
<html lang="en">
  
  
  <head>
    <title>Source code</title>
    <meta name="description" content="Plexi's source code">
    <link id="favicon" rel="icon" href="https://cdn.discordapp.com/icons/343572980351107077/5afb9e4d2eb0f09ada16bd129ebf422f.webp?" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js" defer></script>
  </head>
  

  <body>
    <header>
      <h1>
        <%=  %>
      </h1>
    </header>

    <main>
          <!-- Navigation bar -->
      <div class="navigationBar">
        <a class="navigationItem" href="/"><span>Source</span></a>
        <a class="navigationItem" href="/submit"><span>Submit</span></a>
        <a class="navigationItem" href="/wiki"><span>ECT</span></a>
        <a class="navigationItem" href="https://discord.gg/plexiDev" style="float: right; padding: 5px;"><img src="https://cdn.discordapp.com/icons/343572980351107077/5afb9e4d2eb0f09ada16bd129ebf422f.webp?" alt='Logo' style="height: 48px; width: 48px; border-radius: 4px;"></a>
      </div>

      <div style="top: 10%; position: absolute; width: 98%; padding: 20px 25px 20px 25px; color: white; float: left;">      
        
        <!-- Damn this gets unreadable -->
        <form action="/upload" target="_blank" method="POST" onsubmit="return validateForm('submissionForm', 'username')" name="submissionForm">
          <p class='inputTitle'>
            Username:
          </p>
          <br>
          
          <input type="text" name="username" class="usernameBox" onkeyup="usernameCheck(this.value)" placeholder="Your name..">
          <br><br>
          
          <p class='inputTitle'>
            Tags:
          </p>
          <br>
          
          <input type="text" id='tags' name="tags" class="tagsBox" placeholder="Enter some tags here, or don't... I'm not gonna judge.">
          <br><br>
          
          <p class='inputTitle'>
          Difficulty:
          </p>
          <br>
          
          <select id="difficulty" name="difficulty">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
          </select>
          <br><br>
          
          <p class='inputTitle'>
            Sourcecode:
          </p>
          <br>
          
          <textarea name="source" class="sourceCodeBox" cols="40" rows="3" spellcheck="false"></textarea>
          <br><br>
          
          <input type="submit" value="Submit" class="submitButton">
        </form>
        
      </div>
      <script>
        var usernameCheck = x => {
          var errors = [];
          if (x.length < 2) errors.push(`Username can not be shorter than 2 characters.`);
          if (x.length > 32) errors.push(`Username can not be longer than 32 characters.`);
          if (x.includes("\`") || x.includes("\'") || x.includes("\"") || x.includes("@") || x.includes("#") || x.includes(":")) errors.push(`Names cannot contain the following substrings: '@', '#', ':', or any quotation`);
          if (errors.length > 0) document.getElementsByClassName('usernameBox')[0].style.boxShadow = '0px 0px 15px -2px rgba(255,73,73,0.87)';
          console.log(errors);
          return errors;
        }
        </script>

    </main>
  </body>
</html>
